<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wholesale Refining Services</h2>
                <hr class="light">
                <p class="text-faded">We are the only locally-owned and operated, full service precious metal refinery in Southern California. 
                    We offer precious metal refining services to wholesale customers. We do not service retail customers at this time.</p>
                <a href="#" class="btn btn-default btn-xl"></a>
            </div>
        </div>
    </div>
</section>
