<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>Interested in wholesale refining services? Complete the form below and we'll get back to you.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div>
                <!-- modify this form HTML and place wherever you want your form -->
                <form id="my-form"
                  action="https://formspree.io/xvowlabg"
                  method="POST"
                  class="form-style-9"
                >
                    
                    <ul>
                        <li>
                            <input type="text" name="name" class="field-style field-split align-left" placeholder="Name" />
                            <input type="email" name="email" class="field-style field-split align-right" placeholder="Email" />

                        </li>
                        <li>
                            <input type="text" name="phone" class="field-style field-split align-left" placeholder="Phone" />
                        </li>
                        <li>
                            <input type="text" name="subject" class="field-style field-full align-none" placeholder="Subject" />
                        </li>
                        <li>
                            <textarea name="message" class="field-style" placeholder="Message"></textarea>
                        </li>
                        <li>
                        <input type="submit" value="Send Message" />
                        </li>
                    </ul>
                  <p id="my-form-status"></p>
                </form>
            </div>
        </div>
    </div>
        <!-- <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div> -->

</section>
