<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Wholesale Refining Services</h1>
            <hr>
            <p>We are the only locally-owned and operated, full service precious metal refinery in Southern California. 
                    We offer precious metal refining services to wholesale customers. We do not service retail customers at this time.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
